:root {
  --border-radius-maskgroup: 17px;
  --White: #fff;
  --subcontainer-maskgroup: 190px;
  --primary: #4784fe;
  --black: #333;
  --paddingAndmargin: 2.8rem;
  --border-radius: 10px;
  --background-low: rgba(128, 181, 243, 0.2);
}

body {
  background-color: #f4f4f4;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

#root {
  /* max-width: 1280px; */
  /* padding: 2rem; */
  width: 100%;
  min-height: 100vh;
  /* background-color: red; */
}

/* Inline #3 | http://localhost:5173/ */

.container-requisitoscurso {
  width: clamp(650px, 82%, 850px);
  /* background-color: yellow; */
  height: 608px;
  gap: 0;
}

.container-literal-painel-requisitoscurso {
  background-color: var(--primary);
  height: 100%;
  width: 320px;
  border-radius: 10px 0 0 10px;
}

.container-logo-requisitoscurso {
  height: 65px;
  /* background-color: blue; */
}

.container-image-requisitoscurso {
  position: relative;
  /* background-color: blueviolet; */
  height: calc(100% - 65px);
}

/* Inline #1 | http://localhost:5173/ */

.subcontainer-maskgroup {
  width: var(--subcontainer-maskgroup);
  height: var(--subcontainer-maskgroup);
  border-radius: var(--border-radius-maskgroup);
  position: absolute;
}

.image-maskgroup-requistoscurso {
  border-radius: var(--border-radius-maskgroup);
  position: absolute;
}

.subcontainer-maskgroup::before,
.image-maskgroup-requistoscurso {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-maskgroup);
}

.subcontainer-maskgroup::before {
  content: "";
  position: absolute;
  background-color: var(--White);
  left: 20px;
  top: 27px;
}

.container-form-payment {
  background-color: var(--White);
  width: calc(100% - 320px);
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.btn-progress {
  flex: 1 1 200px;
  height: 45px;
  border-radius: var(--border-radius) !important;
  text-transform: capitalize !important;
}

.btn-progress:first-child,
.btn-progress:first-child:disabled {
  background-color: var(--background-low);
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn-progress:last-child,
.btn-progress:last-child:hover {
  background-color: var(--primary);
  color: var(--White);
}

.svgIconLogo {
  fill: red;
}
.css-z7uhs0-MuiStepConnector-line {
  border-top-width: 2px !important;
  border-color: var(--background-low) !important;
}
.circle-parent > span > svg:has(circle) {
  color: var(--background-low);
}
.css-o4o8x3-MuiStepper-root {
  padding-left: 7.5rem !important;
  padding-right: 7.5rem !important;
}
.css-1bw0nnu-MuiStep-root,
.css-vnkopk-MuiStepLabel-iconContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline:hover {
  border: 2px solid var(--background-low) !important;
  outline: none !important;
  border-radius: var(--border-radius) !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: var(--border-radius);
}
.MuiSelect-select {
  text-align: left;
}
